@import '../utils';
.Cover {
	//border: 3px solid blue;
}
.BnavbarCover {
	background-color: $garamYellow;
	overflow: hidden;
	width: 100%;
}
.BNavbar {
	width: 1100px;
	margin: 0 auto;

	@include media("<huge") {
	width: 100%
	}
}
.ContentsCover {
	width: 100%;
	padding: 0;
	margin: 0;
	//border: 2px solid blue;
}
.SwipeContents {
	//border: 1px solid red;
	position: relative;
	@include media("<huge") {
	width: 100%
	}
}
.bottomBox {
	position: absolute;
	color: white;
	z-index: 1000;
	bottom:0;
	width:100%;
	height:25%;
	background-color: rgba(255, 209, 62, 0.2);
	
}
.ContentsBox {
	border: 1px solid red;
	width:25%;
	height:100%;
	z-index: 1001;
	display: inline-block;
    box-sizing: border-box;
	.iconBox{
		//border: 1px solid green;
		z-index: 1002;
		text-align: center;
		position: relative;

		.strong1 {
			//border: 1px solid aqua;
			position: absolute;
			left:50%;
			top: 22%;
			margin-left: -17px;
			font-size: 30px;
			display: inline-block;
			z-index: 1004;
			color: $garamYellow;
			vertical-align: middle;
		}
		.strong2 {
			//border: 1px solid yellow;
			vertical-align: middle;
			display: inline-block;
			font-size: 50px;
			z-index: 1003;
			color: rgba(255,255,255,0.2);
		}

	}
}
.Bwidth {
	width:1100px;
	margin: 0 auto;
	@include media("<huge") {
	width: 100%;
	}
}
.HalfLeftBox {
	border: 0px solid aqua;
	width: 45%;
	margin-left: 5%;
	height:75%;
	margin-top: 10%;
	letter-spacing: -2px;
	@include media("<huge") {
		margin-top: 7%;
		width: 60%;
	}
	@include media("<medium") {
		margin-top: 60px;
		margin-left: 0;
		width: 95%;
	}
	@include media("<small") {
		margin-top: 20%;
		width: 100%;
	}
}
.slide {
	//border: 1px solid red;
	padding: 10px;
}
.headline {
	//border: 1px solid yellow;
	font-size: 23px;
	margin-top: 15%;
	padding: 0px 0 0 20px;
	font-weight: 400;
	color: #F1F1F1;
	@include media("<huge") {
		margin-top: 5%;
		font-size: 18px;
	}
	@include media("<medium") {

	}
	@include media("<small") {
		padding-bottom: -10px;
		font-size: 17px;
	}
}
.bigline {
	//border: 1px solid green;
	font-size: 40px;
	padding: 10px 0 0 20px;
	font-weight: 400;
	color: #F1F1F1;

	span {
		color: $garamYellow;
	}
	@include media("<huge") {
		margin-top: 5%;
		font-size: 34px;
	}
	@include media("<medium") {

	}
	@include media("<small") {
		padding-bottom: -10px;
		font-size: 28px;
	}
}
.subline {
	//border: 1px solid pink;
	font-size: 28px;
	padding: 10px 0 0 50px;
	font-weight: 300;
	color: #F1F1F1;
	@include media("<huge") {
		font-size: 23px;
	}
	@include media("<medium") {
		font-size: 21px;
	}
	@include media("<small") {
		padding-bottom: -10px;
		font-size: 20px;
	}
}
.bottomline {
	//border: 1px solid blue;
	font-size: 24px;
	padding: 10px 0 0 50px;
	margin-bottom: 30px;
	font-weight: 300;
	color: #F1F1F1;
	@include media("<huge") {
		font-size: 18px;
	}
}
.nong {
	height: 575px;
	border-top: 1px solid #444;
	@include media("<huge") {
		height: 480px;
	}

	@include media("<large") {
		height: 450px;
	}

	@include media("<medium") {
		height: 400px;
	}
}
