@import '../utils';
.ie9 img[src$=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}
.SvgWrap {
  width: 100%;
  margin: 30px 0;
}
.SvgDiv {
  position: relative;
  width: 50%;
  margin: 0 auto;
  svg {
    border: 2px solid #EFEFEF;
    object-fit: contain;
    min-height: 0;
    width: 100%;
    height: 350px;
    @include media("<cus_smm") {
      height:300px;
    }
    @include media("<cus_sm") {
      height:250px;
    }
    @include media("<cus_sm") {
      height:200px;
    }
  }
  @include media("<lalge2") {
    width: 70%;
  }

  @include media("<medium") {
    width: 90%;
  }
  @include media("<cus_sm") {
    width: 98%;
  }
  h1 {
    font-family: 'East Sea Dokdo', cursive;
    color: #444;
    font-size: 60px;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    word-break:keep-all;
    margin-bottom: 20px;
    @include media("<medium") {
      width: 80%;
      padding: 20px 0 0 0;
    }
    @include media("<cus_sm") {
      width: 80%;
      font-size: 40px;
    }
  }
}
.SvgList {
  width: 100%;
  ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;

    li {
      font-family: 'East Sea Dokdo', cursive;
      font-size: 30px;
      list-style: none;
      width: 25%;
      float: left;
      text-align: center;
      padding: 20px 0;
      word-break:keep-all;
      line-height: 30px;
      @include media("<cus_sm") {
        padding: 0 15px;
        font-size: 25px;
      }
      @include media("<cus_imgsizing") {
        padding: 0 15px;
        line-height: 25px;
      }
    }
    li:first-child {color: #E86A5B; }
    li:nth-child(2) {color: #FFBC00; }
    li:nth-child(3) {color: #E18538; }
    li:last-child {color: #4FB4B6; }
    li:hover {
      text-decoration: underline;
    }
  }
}

.Svg_normal {
  fill: #EEE;
}
.Svg_kangnam {
  fill: #E86A5B;
}
.Svg_kangbook {
  fill: #FFBC00;
}
.Svg_guri {
  fill:#E18538;
}
.Svg_hanam {
  fill:#4FB4B6;
}
