@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$garamYellow: #FFD13E;

$breakpoints: (
  small: 376px,
  cus_sm: 465px,
  medium: 768px, 
  large: 1024px, 
  huge: 1250px
);

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

